body{
    margin: 0;
    overflow: hidden;
}
.mainlogin{
    background-color: #D0E7D2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logincard{
    background-color: #f3f3f6;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px   #d8d7e1;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}

.logincard form .inputbox{
    display: flex;
    flex-direction: column;
    gap:1px;
    margin-bottom:10px;
}

.logincard form .inputbox input[type=text],.logincard form .inputbox input[type=password]{
    outline: 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px white;
    padding: 10px;
}
.logincard form  input[type=submit]{
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    font-size: 20px;
    background-color: #1877f2;;
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    margin:20px auto;
    text-align: center;
}
a{
    all: unset;
}
#createAccount{
    background-color: #00a400;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    font-size: 16px;
    display: block;
    margin: 0px auto 0px auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    border: 0;
}

/* register */
.registercard {
    background-color: #f3f3f6;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px rgb(109, 106, 106);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;

}

.registercard form .registerbody {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.registercard form .registerbody .inputbox {
    display: flex;
    flex-direction: column;
    gap: 1px;

}



.registercard form .registerbody .inputbox input[type=text],.registercard form .registerbody .inputbox input[type=password] {
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px white;
    padding: 10px;
}


#sub{
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    font-size: 20px;
    background-color: #00a400;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    margin-top: 20px;
    text-align: center;
}

.radiobtn {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.radiobtn .radiobox {
    border: 0.5px solid #4c726b;
    outline: 0;
    border-radius: 10px;
    background-color: white;
    padding: 10px 5px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.radiobtn :nth-child(1),
.radiobtn :nth-child(2) {
    margin-right: 10px;
}

span {
    margin-top: 2px;
    color: red;
    font-size:small;
}
.mainregister{
    background-color: #D0E7D2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#signin{
    color:#1877f2;
    text-decoration: underline;
    font-size: smaller;
    text-align: center; 
    cursor: pointer;
}