img{
    width: 150px;
    height: 150px;
}
.main{
    padding: 40px;
    background-color: #D0E7D2;
}
.fruitCardBody{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.alertSession{
    position: absolute;
    background-color: rgb(215, 173, 173);
    top: 100px;
    right: 0;
    padding: 20px;
    color: red;
    font-size: small;
}

.fruitCard{
   width: 300px;
   background-color:#79AC78;
   box-shadow: 2px 2px 2px 2px #D0E7D2;
   border-radius: 10px;
   margin: 10px;
}
.fruitCardContent{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(72, 68, 68);
    padding-bottom: 20px;
}

.nav{
    width: 100%;
    background-color: #171d16;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    display: flex;
}
.nav form{
    margin: 0 auto;
}
input[type='text']{
    border: none;
    outline: none;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    
}
input[type='submit']{
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: white;
    
}
.fruits{
    margin-top: 100px;
}

.filterHidden{
    display: none;
}


.filterOption{
    color:white;
    background-color: rgb(45, 39, 39);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    right: 50px;
}

.filter{
    position: absolute;
    width: 350px;
    height: 300px;
    top: 0px;
    right: 0px;
    background-color: rgba(0,0,0,1);
    padding: 20px;
    color: white;
    overflow: scroll;
}
.filter form{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    gap: 5px;
    flex-wrap: wrap;
    position: relative;
    padding: 20px;

}

.filter form label{
    width: 130px;
}

.filterSubmit{
    color: #171d16;
    position: absolute;
    bottom: 0px;
    right: 100px;
    
}
.navFilter{
    display: flex;
    justify-content: space-between;
}

.closeFilter{
    width: 50px;
    height: 50px;
}


.loginButton button{
        border: none;
        outline: none;
        width: 100px;
        height: 60px;
        border-radius: 10px;
        color:white;
        background-color: rgb(45, 39, 39);
        margin-left: 10px;
        text-align: center;
}